@import '../../styles/index.scss';

.primaryTitle {
  padding: 10px;
  font-family: $secondary-font;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.secondaryTitle {
  padding: 10px;
  font-family: $secondary-font;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.titleGreeting {
  padding: 0;
  color: $white-color;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    font-size: 35px;
  }
}

.authHeading {
  composes: secondaryTitle;

  // font-size: 24px;
  // font-weight: 700;
  // font-family: $secondary-font;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet) {
    font-size: 30px;
  }
}

.autImgHeading {
  composes: authHeading;

  margin-top: 16px;
  color: $img-background-blue-color;
  font-weight: 600;
}

.homeImgHeading {
  composes: autImgHeading;

  font-weight: 700;
}
