@import '../../styles/index.scss';

.authNavList {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0 0 0 10px;
  list-style: none;

  @media screen and (min-width: $tablet) {
    margin: 0 0 0 30px;
  }
}

.authNavListItem:not(:last-child) {
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    margin-right: 20px;
  }
}

// .AuthNavListItem {
//   margin-left: 10px;

//    @media screen and (min-width: 768px) {
//      margin-left: 20px;
//   }
// }

.navLink {
  display: inline-block;
  margin: 0;
  padding: 15px 0 15px;
  text-decoration: none;
  // color: $menu-text-color;
  color: $white-color;
  font-size: 18px;
  font-weight: 700;
  @include transition(color);

  &:hover {
    color: $secondary-background-color;
  }
}

.navLinkActive {
  composes: navLink;
  color: $secondary-background-color;
}
