@import '../../../styles/index.scss';

.AuthPage {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.containerAuthPage {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
