@import '../../styles/index.scss';

.iconPhonebook {
  color: #2a2a2a;
  // color: $img-background-yellow-color;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
  line-height: 1.35;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    font-size: 25px;
  }
}

.iconPhonebookAct {
  margin: 0;
  margin-bottom: 36px;
  color: #2a2a2a;
  font-size: 18px;
  text-align: center;
  line-height: 1.35;

  @media screen and (min-width: $tablet) {
    margin-bottom: 44px;
    font-size: 20px;
  }
}

.act {
  text-transform: uppercase;
  // color: #30d5c8;
  font-weight: 400;
}

.replaceAuthLink {
  text-decoration: none;
  color: $white-color;

  @include transition(color);

  &:hover {
    color: $img-background-yellow-color;
  }
}

.imgHome {
  width: 200px;

  @media screen and (min-width: $tablet) {
    width: 250px;
  }

  @media screen and (min-width: $desktop) {
    width: 300px;
  }
}
